name: CI/CD Release

on:
    push:
        tags:
            - "v*"

jobs:
    release:
        runs-on: windows-latest

        steps:
            - uses: actions/checkout@v4

            - name: Build and package the app
              run: |
                  npm install
                  npm run build
                  npm run package-win-ci

            - name: Get app version
              id: package-version
              run: |
                  PACKAGE_VERSION=$(cat package.json | grep version | head -1 | awk -F: '{ print $2 }' | sed 's/[",]//g' | tr -d '[[:space:]]')
                  echo "current-version=$PACKAGE_VERSION" >> $GITHUB_OUTPUT
              shell: bash

            - name: Release
              uses: softprops/action-gh-release@v2
              with:
                  tag_name: ${{ github.ref }}
                  name: Fluent Reader v${{ steps.package-version.outputs.current-version }}
                  draft: true
                  prerelease: false
                  files: |
                      ./bin/win32/x64/Fluent Reader Setup ${{ steps.package-version.outputs.current-version }}.exe
                      ./bin/win32/ia32/Fluent Reader Setup ${{ steps.package-version.outputs.current-version }}.exe
                      ./bin/win32/x64/Fluent Reader-${{ steps.package-version.outputs.current-version }}-win.zip
                      ./bin/win32/ia32/Fluent Reader-${{ steps.package-version.outputs.current-version }}-ia32-win.zip
