name: CI/CD Release Linux

on:
    release:
        types:
            - published

jobs:
    release-linux:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4

            - name: Build and package the app
              run: |
                  npm install
                  npm run build
                  npm run package-linux

            - name: Get app version
              id: package-version
              run: |
                  PACKAGE_VERSION=$(cat package.json | grep version | head -1 | awk -F: '{ print $2 }' | sed 's/[",]//g' | tr -d '[[:space:]]')
                  echo "current-version=$PACKAGE_VERSION" >> $GITHUB_OUTPUT

            - name: Upload to Release
              uses: softprops/action-gh-release@v2
              with:
                  files: ./bin/linux/x64/Fluent Reader-${{ steps.package-version.outputs.current-version }}.AppImage
